/* ==========================================================
General Demo Styles [not related to navbar]
==========================================================*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif 4', sans-serif;
}

body {
    padding-top: 55px;
    padding-bottom: 55px;
}

html {
    min-height: 100%;
    position: relative;
}


/* ==========================================================
Navbar Styles
==========================================================*/
nav.navbar {
    background-image: linear-gradient(#ffffff, #e1e1e1);
    color: black;
    box-shadow: 2px 2px 7px 0 black;
    padding: 15px 0;
    border-bottom-color: aquamarine;
    border-bottom: 3px solid #38ab81;
    transition: all 1s;
}

.icono_una {
    position: absolute;
    left: 90%;
}


/* Navbar Brand */
nav.navbar a.navbar-brand {
    color: #fff;
    width: 100px;
    height: 60px;
}

nav.navbar a.navbar-brand:hover,
nav.navbar a.navbar-brand:focus {
    color: inherit;
}

/* Toggle Button */
nav.navbar .navbar-toggle {
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 15px;
}

nav.navbar .navbar-toggle:hover,
nav.navbar .navbar-toggle:focus {
    background: #e8f3ee;
    color: #fff;
}

/* Navbar Components Holder */
nav.navbar .navbar-collapse {
    border: none;
}

/* Navbar links */
nav.navbar ul.navbar-nav {
    border: none;
}

nav.navbar ul.navbar-nav a, nav.navbar ul.navbar-nav select {
    /*Borde a poner el puntero*/
    border-radius: 15px;
    color: #fff;
}

nav.navbar ul.navbar-nav a:hover,
nav.navbar ul.navbar-nav a:focus,
nav.navbar ul.navbar-nav select:hover,
nav.navbar ul.navbar-nav select:focus {
    /*Color a poner el puntero*/
    color: rgb(29, 23, 23);
    background: #339966;
}



.navbar .dropdown-menu a:not(.active) {
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 400;
}

dropdown-menu {
    background: #38ab81;
    border-radius: 10px;

}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link,
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #101010;
    -webkit-transition: .35s;
    transition: .35s;
}


.navbar-dark .navbar-toggler-icon,
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
}



/* footer */
footer{
    position: absolute;
     bottom: 0;
     width: 100%;
}
.bg-dark {
    background-color: #034991 !important;
}

.fab {
    color: white;
}

.text-center {
    text-align: center !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    /* padding: 5
px
; */
}

.navbar-dark .navbar-nav .nav-link {
    color: hsl(0deg 0% 0%);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Source Serif 4', sans-serif;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #0a4870;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.pagination .page-item .page-link:hover{
    background: #0a4870d9;
    color: #fff;
}

.language{
    border: 0;
    background: linear-gradient(358deg, #e8e8e8, #fbfbfb);
}

@media only screen and (max-device-width:990px) {
    .icono_una{
        order: 2;
        position: inherit;
    }
    .icono_sendero{
        order: 1;
    }
    .navbar-toggler{
        order: 3;
    }
    nav.navbar a.navbar-brand {
        color: #fff;
        width: 100px;
        height: 65px;
    }
    .navbar-collapse {
        order: 4;
    }
}
