/* ==========================================================
General Demo Styles [not related to navbar]
==========================================================*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

 body {
font-family: 'Poppins', sans-serif;
}
#background-image {
background-image: url('senderoBack.jpg');
background-attachment: fixed;
}
p {
font-size: 1.2em;
line-height: 1.8em;
font-weight: 300;
color: rgb(0, 0, 0);
margin: 30px 0;
}
strong {
font-weight: 600;
color: #333;
}
a {
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.line {
width: 100%;
height: 1px;
margin: 30px 0;
border-bottom: 1px dashed #ddd;
}
.content {
padding: 50px 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #eee !important;
}
::-moz-placeholder { /* Firefox 19+ */
color: #eee !important;
}
:-ms-input-placeholder { /* IE 10+ */
color: #eee !important;
}
:-moz-placeholder { /* Firefox 18- */
color: #eee !important;
}

/* ==========================================================
Navbar Styles
==========================================================*/
nav.navbar {
/* background: #910404;-*/
background-image: linear-gradient(#910404, #a31e32);
color: #fff;
border-bottom: none;
border-radius: 0;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
padding: 15px 0;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}
/* Navbar Brand */
nav.navbar a.navbar-brand {
color: #fff;
font-weight: 600;
}
nav.navbar a.navbar-brand:hover,
nav.navbar a.navbar-brand:focus {
color: inherit;
}

/* Toggle Button */
nav.navbar .navbar-toggle {
background: transparent;
color: #fff;
border: none;
border-radius: 15px;
}
nav.navbar .navbar-toggle:hover,
nav.navbar .navbar-toggle:focus {
background: #e8f3ee;
color: #fff;
}
/* Navbar Components Holder */
nav.navbar .navbar-collapse {
border: none;
}
/* Navbar links */
nav.navbar ul.navbar-nav {
border: none;
}
nav.navbar ul.navbar-nav a {
border-radius: 20px;
color: #fff;
}
nav.navbar ul.navbar-nav a:hover,
nav.navbar ul.navbar-nav a:focus {
color: #fff;
background: #339966;
}

/* Navbar Form */
nav.navbar form.navbar-form input {
border-radius: 0 ;
border-color: #6172b9;
background: none;
color: #fff;
font-weight: 300;
}
nav.navbar form.navbar-form button {
background: #6172b9;
color: #fff;
border-color: #6172b9;
border-radius: 0;
box-shadow: none !important;
outline: none;
}
nav.navbar form.navbar-form button:hover {
background: #fff;
color: #6172b9;
}
/* Navbar Button */
nav.navbar button.navbar-btn {
border-radius: 15px;
border-color: #6172b9;
background: #009999;
color: #fff;
margin-left: 5px;
}
nav.navbar button.navbar-btn:hover {
background: #fff;
color: #6172b9;
}

.nav-dropdown {
position: absolute;
display: none;
z-index: 1;
box-shadow: 0 3px 12px rgba(0, 0, 0, 0.966);
}
dropdown-menu{
background: cadetblue;
border-radius: 10px;
}
a{
    font-size: initial;
}

body {

    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f0f0f0;
}